.life-container {
  height: 100%;
}

.tumbleweed {
  position: relative;
  top: 283px;
  width: 120px;
  height: 120px;
  background: url('../assets/tumbleweed.png') no-repeat;
  background-size: 100%;
}

.tumbleweed {
  animation: tumbleweed linear 6s;
  animation-iteration-count: infinite;
  animation-fill-mode: backwards;

}

@keyframes tumbleweed {
  0% {
    transform: translate(0px, 45px) rotate(0deg);
  }
  9% {
    transform: translate(90px, 5px) rotate(130deg);
  }
  17% {
    transform: translate(160px, 45px) rotate(250deg);
  }
  26% {
    transform: translate(270px, 15px) rotate(360deg);
  }
  34% {
    transform: translate(360px, 45px) rotate(490deg);
  }
  42% {
    transform: translate(480px, 30px) rotate(600deg);
  }
  50% {
    transform: translate(601px, 45px) rotate(720deg);
  }
  58% {
    transform: translate(690px, 5px) rotate(840deg);
  }
  66% {
    transform: translate(730px, 45px) rotate(910deg);
  }
  74% {
    transform: translate(815px, 15px) rotate(1020deg);
  }
  82% {
    transform: translate(900px, 40px) rotate(1150deg);
  }
  90% {
    transform: translate(1024px, 5px) rotate(1270deg);
  }
  100% {
    transform: translate(2000px, 45px) rotate(1400deg);
  }
}