.about-me-container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.about-me-text {
  color: #130303;
  background-color: #F4F7F5;
  padding: 1em 2em 1em 2em;
  align-self: center;
  max-width: 50em;
  -moz-box-shadow: inset 0 0 1em #071E22;
  -webkit-box-shadow: inset 0 0 1em #071E22;
  box-shadow: inset 0 0 1em #071E22;
}

@media screen and (max-width: 900px) {
  .about-me-text {
    width: auto;
    align-self: flex-start;
    margin-left: 1.5em;
    margin-right: 1.5em;
  }
}

.about-me-primary {
  font-weight: bold;
}
