.about-me-container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.about-me-text {
  color: #130303;
  background-color: #F4F7F5;
  padding: 1em 2em 1em 2em;
  align-self: center;
  max-width: 50em;
  -moz-box-shadow: inset 0 0 1em #071E22;
  -webkit-box-shadow: inset 0 0 1em #071E22;
  box-shadow: inset 0 0 1em #071E22;
}

@media screen and (max-width: 900px) {
  .about-me-text {
    width: auto;
    align-self: flex-start;
    margin-left: 1.5em;
    margin-right: 1.5em;
  }
  .no-mobile {
    display: none;
  }
}

.about-me-primary {
  font-weight: bold;
}

a.pretty-link {
  color: #130303;
  display: inline-block;
  position: relative;
  text-decoration: none;
  &:before {
    background-color: #130303;
    content: '';
    height: 1px;
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease-in-out;
    width: 100%;
  }
  &:hover {
    &:before {
      width: 0;
    }
  }
}