#home-container {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-image: url('../assets/home_coding.gif');
  background-position: left top;
  background-repeat: no-repeat;
}

#home-title {
  font-family: Garamond, serif;
  align-self: center;
  h1 {
    font-size: 5rem;
    margin: 0;
    color: #F4F7F5;
  }
  h3 {
    font-size: 2rem;
    margin: 0;
    color: #D2D4D2;
  }
}

@media screen and (max-width: 900px) {
  #home-title {
    h1 {
      font-size: 4rem;
    }
  }
}