.section {
  padding-top: 12em;
  padding-bottom: 12em;
  color: #F4F7F5;
}

.section-wrapper {
  width: 100%;
  height: 100%;
}

#content {
  float: left;
  width: 100%;
  transition: margin .3s ease-in-out;
}

* {
  box-sizing: border-box;
}

.mobile-title {
  display: none;
  text-align: center;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
}

.mobile-title:after {
  content:' ';
  display:block;
  margin-left: 1em;
  margin-right: 1em;
  border:2px solid #d0d0d0;
  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
  -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
  -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
}

#menu-toggle {
  position: absolute;
  left: 0;
  display: none;
  width: 2.5em;
  height: 2em;
  padding: .35em;
  font-size: 1.1em;
  color: #F4F7F5;
  transition: color .3s ease-in-out;
  cursor: pointer;
  user-select: none;
  margin: 0;
}

nav[role="off-canvas"] {
  position: fixed;
  z-index: 999;
  margin: 0 auto;
  transition-duration: .3s, .5s;
  transition-timing-function: ease-in-out;
  transition-property: left, opacity, box-shadow;

  a {
    color: #fff;
    text-decoration: none;
    font: 1.4em 'Open Sans', sans-serif;
    transition: color .3s ease-in-out;
    display: table-cell;
    vertical-align: middle;
  }

  ul {
    padding: 0;
    margin: 0 auto;
    width: 100%;

    > li {
      float: left;
      padding: .55em .55em;
      width: 10em;
      height: 10em;
      margin: .5em;
      opacity: .8;

      text-transform: uppercase;
      display: table;
      background: #130303;
      cursor: pointer;

      text-align: center;
      transition-duration: .3s;
      transition-timing-function: ease-in-out;
      transition-property: box-shadow, color, opacity, padding-left;

      &:hover {
        color: #F4F7F5;
        opacity: 1;
        box-shadow: 0 0 0 .5em rgba(255, 255, 255, .95);

        > a {
          color: #F4F7F5;
        }
      }

      &:nth-child(2) {
        background: #071E22;
      }
      &:nth-child(3) {
        background: #2F3061;
      }
      &:nth-child(4) {
        background: #F4C095;
      }
      &:nth-child(5) {
        background: #A54657;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  $menu_width: 20em;
  $content_offset: .5em;

  html,
  body {
    margin: 0;
    overflow-x: hidden;
  }

  .section {
    padding-top: 4em;
  }

  .mobile-title {
    display: inline;
  }

  .content {
    margin: 2.5em .5em 0 .5em;
  }

  nav[role="off-canvas"] {
    position: absolute;
    top: 3.5em;
    left: -$menu_width;
    width: $menu_width;
    opacity: 0;

    ul > li {
      height: 100%;
      width: 100%;
      text-align: left;
      margin: 0;

      &:hover {
        box-shadow: inset 0 0 0 .15em rgba(255, 255, 255, .45);
      }
    }
  }

  #menu-toggle {
    display: block;
    top: 1em;
    left: 1em;
  }

  #menu-toggle span {
    display: block;
    width: 100%;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;
  }

  #menu-toggle:hover,
  #menu-toggle.open {
    color: #F4F7F5;
  }

  #menu-toggle.open ~ nav[role="off-canvas"] {
    opacity: 1;
    left: 1em;

    ul > li {
      opacity: 1;
      padding: .55em .55em .55em 1.5em;

      &:hover {
        padding-left: 3.5em;
    }

      &:after {
        position: absolute;
        right: .25em;
        content: "\203A";
        font: bold 1.4em sans-serif;
        color: #F4F7F5;
      }
    }
  }

  #menu-toggle.open ~ .content {
    margin-left: $menu_width + $content_offset;
    margin-right: -($menu_width + $content_offset);
  }
}